#-------------------------------------------------------------------------------
# RT-Thread RuiChing
#
# COPYRIGHT (C) 2024-2025 Shanghai Real-Thread Electronic Technology Co., Ltd.
# All rights reserved.
#
# The license and distribution terms for this file may be
# found in the file LICENSE in this distribution.
#-------------------------------------------------------------------------------
menu "RT-Thread rockchip rga driver"
	config RT_USING_RGA
		bool "Enable rga"
		default n
	orsource '*/Kconfig'
endmenu

#-------------------------------------------------------------------------------
# End
#-------------------------------------------------------------------------------
