#-------------------------------------------------------------------------------
# RT-Thread RuiChing
#
# COPYRIGHT (C) 2024-2025 Shanghai Real-Thread Electronic Technology Co., Ltd.
# All rights reserved.
#
# The license and distribution terms for this file may be
# found in the file LICENSE in this distribution.
#-------------------------------------------------------------------------------
menuconfig COMP_USING_WEBCLIENT
	bool "Enabel webclient"
	default n

	if COMP_USING_WEBCLIENT
  	config WEBCLIENT_DEBUG
  		bool "Enable debug log output"
  		default n

		config WEBCLIENT_USING_FILE_DOWMLOAD
			bool "Enable file download feature support"
			default n
			select RT_USING_POSIX_FS

		choice
			prompt "Select TLS mode"
			default COMPONENTS_WEBCLIENT_NOT_USE_TLS

				config COMPONENTS_WEBCLIENT_NOT_USE_TLS
					bool "Not support"

				config COMPONENTS_WEBCLIENT_USING_SAL_TLS
					bool "SAL TLS support"
					select SAL_USING_TLS

				config COMPONENTS_WEBCLIENT_USING_MBED_TLS
					bool "MbedTLS support"
					select COMP_USING_MBEDTLS
		endchoice
endif
#-------------------------------------------------------------------------------
# End
#-------------------------------------------------------------------------------
